body {
  font-family: 'Hind', sans-serif;
  font-size: 15px;
  line-height: 1.8em;
  color: #3d3d50;
  font-weight: 300;
  background-color: #E8E8E8;
  background: url(../img/bg-lake.jpg);
  background-size: cover;
	background-attachment: fixed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  color: #2b2b3d;
}
h1 {
  font-size: 26px;
  line-height: 1.8em;
  font-weight: 700;
}
h2 {
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 700;
}
h3 {
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 500;
}
h4 {
  font-size: 15px;
  line-height: 1.8em;
  font-weight: 500;
}
h5 {
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 500;
}
h6 {
  font-size: 15px;
  line-height: 1.5em;
}
a {
  color: #FFC107;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none;
  outline: none
}
a:hover,
a:focus {
  text-decoration: none;
  color: #ff9800;
}
p {
  margin-bottom: 20px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn {
  padding: 14px 30px 11px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0;
  border: 0;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.btn-lg {
  font-weight: 700;
  font-size: 24px;
  padding: 15px 30px;
}
.btn-primary {
  background-color: #bbba86;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #1a1a1a;
}
.btn-default {
  color: #2a54f5;
  background-color: transparent;
  border: 2px solid #2a54f5;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active:focus {
  background: #2a54f5;
  color: #ffffff;
  border-color: #2a54f5;
}
button:focus,
.btn:focus,
.btn:active:focus {
  outline: none;
}


h1, h2, h3, h4, h5 {
	font-family: 'Libre Baskerville', serif;
}
.padding30 {
	padding: 30px;
}
.justify {
	text-align: justify;
}
.signature {
	font-family: 'Sacramento', cursive, Georgia;
	font-size: 40px;
	color: #ccba86;
}


.columns-block {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 60px auto;
  padding: 0;
}
.blocks {
  box-sizing: border-box;
}
.left-col-block {
  overflow: hidden;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  position: relative;
  background: rgba(26, 26, 26, 0.95);
}
.right-col-block {
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
  position: relative;
  background: rgba(255,255,255,0.8);
}
@media (max-width: 768px) {
  .columns-block {
      display: block;
      margin: 0;
      box-shadow: none;
  }
  .left-col-block {
      width: 100%;
      position: relative;
      border: 0;
  }
  .right-col-block {
      width: 100%;
      position: relative;
      box-shadow: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .columns-block {
      margin-top: 30px;
      margin-bottom: 30px;
  }
}

.gray-bg {
  background-color: #ffffff;
}

.yellow-bg {
	background-color: rgba(204, 186, 134, 0.73);
}

.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5 {
	color: #FFF!important;
}


#main-wrapper {
  overflow: hidden;
}
.section-wrapper {
  padding: 50px;
  border-bottom: 1px solid #eaeaea;
}
@media (max-width: 480px) {
  .section-wrapper {
      padding: 30px 20px;
  }
}
.section-title {
  margin-bottom: 15px;
}
.section-title h2 {
  margin-bottom: 5px;
  color: #bbba86;
  font-size: 55px;
  font-weight: normal;
  letter-spacing: -1px;
  font-family: 'Sacramento', cursive, Georgia;
  position: relative;
  padding-left: 40px;
}
.section-title h2:before {
	content: '';
	color: red;
	margin-right: 30px;
	width: 25px;
	height: 3px;
	background-color: #1a1a1a;
	position: absolute;
	left: 0;
	top: 40%;
}
.header {
  padding: 20px!important;
  margin: 0;
  position: relative;
}
.header .profile-img {
  margin-bottom: 10px;
}

.profile-img img {
	padding: 5px;
	background-color: #FFF;
	box-shadow:  0 3px 6px rgba(0,0,0,.25);
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-webkit-transform: rotate(-2deg);
	-webkit-transition: -webkit-transform .15s linear;
	transform: rotate(-10deg);
	max-width: 300px;
	margin-top: -40px;
	margin-left: -40px;
}
.header .content-wrapper {}.header .content {
  width: 100%;
  margin: 0 auto;
}
.header .content h1 {
	line-height: 1;
	margin: 0 0 5px;
	font-size: 46px;
	color: #FFF;
	font-weight: normal;
	letter-spacing: -1px;
}
.header .content .lead {
  font-size: 18px;
}
.header .content .about-text {
  margin: 10px 0;
}
.header .content .about-text p {
	color: rgba(255,255,255,0.9);
}
.header .btn {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .header {
      padding: 0;
      text-align: center;
      border-bottom: 1px solid #ededed;
  }
  .header img {
      margin: 0 auto;
  }
  .header .content {
      padding: 50px;
  }
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.social-icon {
  margin: 20px 0;
  padding: 0;
  display: block;
}
.social-icon li {
  display: inline-block;
  margin: 0 2px;
}
.social-icon li a {
  display: block;
  font-size: 12px;
  color: #333333;
  width: 34px;
  height: 34px;
  line-height: 33px;
  text-align: center;
  border-radius: 2px;
  border: 2px solid #eeeeee;
}
.social-icon li a:hover {
  border-color: #cccccc;
}

.expertise-item {
  margin-bottom: 20px;
  position: relative;
}

.expertise-item h3 {
  margin-bottom: 5px;
  font-weight: 700;
}


.portfolio-item {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.portfolio-item .portfolio-thumb img {
  height: auto;
  display: block;
  max-width: 100%;
}
.portfolio-item .portfolio-info {
  position: absolute;
  bottom: 0;
  padding: 30px 15px 5px;
  width: 100%;
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}
.portfolio-item .portfolio-info h3 {
  margin: 0;
  line-height: 1;
  color: #ffffff;
}
.portfolio-item .portfolio-info small {
  color: #ffffff;
}
.portfolio-item:hover .portfolio-info {
  background: -webkit-linear-gradient(top, transparent 0%, #000 100%);
}
.content-item {
  margin-bottom: 40px;
}
.content-item h3 {
  margin: 0 0 10px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}
.content-item h4 {
	margin: 0;
	margin-bottom: 5px;
  line-height: 1;
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  color: #8a8961;
}
.content-item small {
  color: #888888;
}
.feedback-form {

}
.form-control {
  height: 50px;
  padding: 0 20px;
  font-size: 13px;
  line-height: 50px;
  color: #969595;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
}
.form-control:focus,
.form-control:active {
  box-shadow: none;
}
.footer {
  padding: 30px 50px;
}
.footer .copyright-section {
  font-size: 15px;
  color: #888888;
}
.footer .copyright-section .copytext {
  font-weight: 400;
  display: block;
}
@media (max-width: 480px) {
  .footer {
      padding: 10px 20px;
  }
}
#preloader {
  background: rgba(255, 255, 255, .8);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
#status,
.status-mes {
  background-image: url(../img/preloader.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}
.status-mes {
  background: none;
  left: 0;
  margin: 0;
  text-align: center;
  top: 65%;
}

@media (min-width: 1200px) {
	.container {
	  width: 80%;
	} 
}



/*------------------------------------------------------------------
[Progress Bars]
*/
.progress-item .progress {
  height: 3px;
  box-shadow: none;
  border-radius: 5px;
}

.progress-item {
  margin: 0 0 30px;
}

.progress-title {
	font-size: 14px;
	margin: 0 0 10px;
	font-weight: bold;
	text-transform: uppercase;
}

.progress-title span {
	float: right;
	font-weight: normal;
	font-family: 'Libre Baskerville', serif;
	font-size: 10px;
}

.progress {
  background-color: #e8e8e8;
  border-radius: 0;
  box-shadow: none;
  height: 2px;
  margin: 0;
  overflow: visible;
  box-shadow: none;
}

.progress-bar {
  position: relative;
  background-color: #ba9d49;
  background-color: #bbba86;
  border-radius: 0;
  box-shadow: none;
}

.progress-bar:after {
  position: absolute;
  background: inherit;
  border-radius: 50%;
  border: 4px solid #ffffff;
  content: "";
  height: 14px;
  width: 14px;
  top: 50%;
  right: -1px;
  margin-top: -7px;
}

.line-font {
	color: #b97575;
	font-size: 60px;
	display: block;
	margin-bottom: 10px;
}

.marginbottom-30 {
	margin-bottom: 30px;
}

.social li{display:inline-block;text-align:center}
.social li i{display:block}
.social li i{font-size:22px;color:#fff;border-radius:3px;background:#ddd;margin:5px;width:45px;height:45px;line-height:45px;transition:all .2s ease-out}
.social li .icon:hover{background:#3b475f}
.social .ion-social-twitter-outline{background:#00aced}
.social .ion-social-facebook{background:#3b5998}
.social .ion-social-googleplus-outline{background:#dd4b39}
.social .ion-social-linkedin-outline{background:#007bb6}
.social .ion-social-github-outline{background:#bc4444}

.intro {
	height: 60vh;
	background-color: #1a1a1a;
	background: url(../img/bg-book.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}